<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <h3 class="h3 mt-2">Bind it!</h3>
      <ol class="item-group">
        <li class="item-group-list">
          Create three new component: GameControl, Odd and Even
        </li>
        <li class="item-group-list">
          The GameControl Component should have buttons to start and stop the game
        </li>
        <li class="item-group-list">
          When starting the game, an event (holding a incrementing number) should get menitted each second (ref=setInterval())
        </li>
        <li class="item-group-list">
          The event should be listenable from outside the component
        </li>
        <li class="item-group-list">
          When stopping the game, no more events should get emitted (clearInterval(ref))
        </li>
        <li class="item-group-list">
          A new Odd component should get created for every odd number emitted, tge same should happen for the Even component (or even numbers)
        </li>
        <li class="item-group-list">
          Simply output Odd - NUMBERS or Even - NUMBER in the two components
        </li>
        <li class="item-group-list">
          Style the element (e.g. paragraph) holding your output text differently in both component
        </li>
      </ol>
      <hr>

    </div>
  </div>
</div>