<div class="row">
    <div class="col-xs-12">
    
      <p class="mt-2 b">Add new Servers or Blueprints</p>
    
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
    
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      
      <button 
        class="btn btn-primary mt-2 me-2" 
        (click)="onAddServer()">
        Add Server
      </button>
      
      <button 
        class="btn btn-primary mt-2 me-2" 
        (click)="onAddBluePrint()">
        Add Blueprint
      </button>
      
      <button 
        class="btn btn-danger mt-2 me-2" 
        (click)="onResetClicked()">
        Reset
      </button>
    
    </div>
  </div>