<div class="row">
    <div class="col-xs-12">
    
      <p class="mt-2 b">Add new Servers or Blueprints</p>
    
      <label>Server Name</label>
      
      <!-- Two-Way Binding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      
      <!-- Local Reference -->
      <input 
        type="text" 
        class="form-control" 
        #serverNameInput>
    
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      
      <!-- @ViewChild -->
      <input 
        type="text" 
        class="form-control" 
        #serverContentInput>
      
      <button 
        class="btn btn-primary mt-2 me-2" 
        (click)="onAddServer(serverNameInput)">
        Add Server
      </button>
      
      <button 
        class="btn btn-primary mt-2 me-2" 
        (click)="onAddBluePrint(serverNameInput)">
        Add Blueprint
      </button>
      
      <button 
        class="btn btn-danger mt-2 me-2" 
        (click)="onResetClicked(serverNameInput)">
        Reset
      </button>
    
    </div>
  </div>