<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h5>Yasser Fereidouni | 02-CodeChallenge</h5>

      <p>Excersice 01</p>
      <ol>
        <li>Create two new components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (mabe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>

      <app-warning-alert></app-warning-alert>
      <app-error-alert></app-error-alert>
      <app-seccess-alert></app-seccess-alert>

    </div>
  </div>
</div>