<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <p>Excersice 02</p>
      <ol>
        <li>Add a Input field which updates a property ('usename') via Two-Way-Binding</li>
        <li>Output the username propery via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string.</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>

      <hr>
      
      <label class="form-lable">Username:</label>
      
      <input 
      type="text" 
      class="form-control mb-2 mt-2"
      [(ngModel)]="userName">
      
      <p>Entered Username: {{ userName }}</p>
      
      <button class="btn btn-primary" 
      [disabled]="userName === ''"
      (click)="onReset()">
      Reset User
      </button>
    
      <!-- OR using code below -->
      <!-- <button class="btn btn-primary" 
      [disabled]="userName === ''"
      (click)="userName = ''">
      Reset User
      </button> -->

    </div>
  </div>
</div>