<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <p>Exercise 04</p>
      <ol>
        <li>Add a button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Select Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <hr>

      <!-- <button (click)="showSecret = !showSecret" class="btn btn-primary">Display Details</button> -->

      <button (click)="onToggledDetails()" class="btn btn-primary">Display Details</button>

      <p *ngIf="showSecret" class="mt-2">Secret Password = tuna</p>

      <!-- <div 
        *ngFor="let logItem of log" 
        [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue': 'transparent'}"
        [ngClass]="{'white-text': logItem >= 5}">
        {{logItem}}
      </div>
   -->
      <div 
        *ngFor="let logItem of log; let i = index" 
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
        [ngClass]="{'white-text': i >= 4}">
        {{logItem}}
      </div>

    </div>
  </div>
</div>